* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  color: #333333;
}

.navbar_color {
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #121212;
}
